<h1>Make your form here
  <form method="POST" action="pirates/show">
    <p><input type="text" name="pirate[name]"></p>
    <p><input type="text" name="pirate[weight]"></p>
    <p><input type="text" name="pirate[height]"></p>
    pirate[ships][][name]
    <p><input type="submit" name="Submit"></p>
  </form>
</h1>
